{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Мій магазин{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/image.png' %}">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Мій магазин</a>
    </div>
    <div id="subheader">
      <div class="cart">
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            Ваш кошик:
            <a href="{% url 'cart:cart_detail' %}">
              Одиниць: {{ total_items }}{{ total_items|pluralize }},
              На суму:
              ${{ cart.get_total_price }}
            </a>
          {% elif not order %}
            Ваш кошик порожній.
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>